Package: com.dinhnguyenx.ccshortcutlauncher
Name: CCShortcutLauncher
Version: 1.3.0
Architecture: iphoneos-arm64
Description: Manage, order, and run cached My Shortcuts with their icons from a Control Center popup on iOS 16.
Maintainer: dinhnguyenx
Author: dinhnguyenx
Section: Control Center (Modules)
Depends: firmware (>= 16.0), firmware (<< 17.0), com.opa334.ccsupport, preferenceloader
