<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>CCShortcutLauncher</string>
	<key>CFBundleExecutable</key>
	<string>CCShortcutLauncherProvider</string>
	<key>CFBundleIdentifier</key>
	<string>com.dinhnguyenx.ccshortcutlauncher.provider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>CCShortcutLauncherIcon</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>CCShortcutLauncherIcon</string>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>CCShortcutLauncherIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleName</key>
	<string>CCShortcutLauncherProvider</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4.6</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>25</string>
	<key>MinimumOSVersion</key>
	<string>16.0</string>
	<key>NSPrincipalClass</key>
	<string>CCShortcutLauncherProvider</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>CCSGetModuleSizeAtRuntime</key>
	<false/>
	<key>CCSModuleSize</key>
	<dict>
		<key>Portrait</key>
		<dict>
			<key>Height</key>
			<integer>1</integer>
			<key>Width</key>
			<integer>1</integer>
		</dict>
		<key>Landscape</key>
		<dict>
			<key>Height</key>
			<integer>1</integer>
			<key>Width</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
